.myhover:hover .iconhover {
  background-color: black !important;
}
.myhover:hover .icon {
  rotate: -135deg !important;
}
.taglinehover:hover .icon i {
  rotate: 90deg !important;
}
.taglinehover:hover i {
  background-color: black;
}
